[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lock = "*"
asgiref = "==3.6.0"
django = "==4.1.7"
django-filter = "==22.1"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "==5.2.2"
markdown = "==3.4.1"
pillow = "==9.4.0"
pyjwt = "==2.6.0"
pytz = "==2022.7.1"
sqlparse = "==0.4.3"
tzdata = "==2022.7"
twilio = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.10"
